* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url('images/profile_15.jpg');
  margin-top: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  max-width: 450px;
  background-color: rgb(231, 231, 142);
  border-radius: 50px;
  padding: 25px 35px;
  /* border: 6px solid rgb(178, 208, 228); */
  box-shadow: 0px 30px 30px -20px rgba(248, 4, 4, 0.8);
}

.register-heading {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: rgb(4, 97, 141);
}

.form input{
  width: 100%;
  background-color: rgb(254, 254, 254);
  border: none;
  padding: 14px 70px;
  /* margin-top: 20px; */
  margin: 10px 0px;
  margin-right: 20px;
  border-radius: 25px;
  box-shadow: 0px 10px 10px -5px rgb(243, 18, 119);
  outline: none;
  font-size: 15px;
  border-inline: 2px solid transparent;
}

.form input:focus {
  border-inline: 3px solid rgb(233, 9, 140);
}


.register-button {
  display: block;
  width: 100%;
  background-image: linear-gradient(rgb(201, 208, 15),rgb(18, 184, 255));
  color: rgb(110, 39, 3);
  font-size: 25px;
  font-weight: 600;
  border: none;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.register-button:hover {
  transform: scale(1.08);
}

.social-icons-container {
  margin-top: 25px;
}

.social-icons-container .register-title {
  display: block;
  text-align: center;
  color: rgb(45, 21, 230);
  margin-bottom: 10px;
}

.social-icons-container .social-accounts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.social-icons-container .social-accounts i {
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  /* border: 5px solid #fff; */
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.social-icons-container .social-accounts i:hover {
  transform: scale(1.09);
}

.googgle {
  background-color: red;
}

.googgle:hover {
  background-color: rgb(59, 60, 18);
}

.fb {
  background-color: blue;

}

.fb:hover {
  background-color: green;
}

.fa-twitter {
  background-color: rgb(4, 178, 178);
}

.fa-twitter:hover {
  background-color: blueviolet;
}