* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background-color: aqua; */
  background-image: linear-gradient(to right, #BBE9FF, #f3acaf);
  width: 100%;
  height: 100vh;
}

header {
  width: 100%;
  height: 60px;
  /* background-color: brown; */
  background-image: linear-gradient(to right, rgb(120, 218, 175), rgb(220, 136, 46));
  box-shadow: 0 5px 13px 0 #2d0c90;
  color: rgb(10, 14, 133);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}


nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  margin: 0 auto;
}

.nav-logo img {
  width: 75px;
  margin-top: 5px;
}

.nav-logo img:hover {
  background-color: rgb(92, 232, 221);
}

.nav-links li {
  display: inline-block;
  margin: 0 16px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;


  position: relative;
}

.nav-links li:hover {
  color: rgb(78, 57, 8);
  /* text-decoration: underline;
  text-underline-offset: 5px; */
}

#menu a { 
  text-decoration: none;


  /* color: red; */
}

 #menu li ul {
  position: absolute;
  top: 100%;
  /* left: 0; */
  /* width: 200px; */
  width: 180px;
  background-color: rgb(45, 217, 168);
  display: none;
 
  /* margin: 45px 0; */
  /* text-align: center; */
  /* top: 12%; */
}

 #menu li ul li {
  width: 100%;
  /* border-top: 1px solid black; */
  margin: 10px 0;
  /* left: 20px; */
  padding-left: 25px;
}

#menu li ul li ul {
  left: 100%;
  top: 0;
  padding-left: 25px;
}

#menu li:focus-within > ul,
#menu li:hover > ul {
  /* display: initial; */

  display: block;
}


.search-bar {
  background-color: #9ed8ee;
  /* width: 350px; */
  height: 5vh;
  /* line-height: 800px; */
  border-radius: 14px;  
  display: flex;
  align-items: center;
  margin: 0 20px;
  /* flex-grow: 1; */
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  color: rgb(14, 14, 96);
  font-size: 17px;
  margin: 0 18px;
  max-width: 200px;
  padding: 5px;
}


.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.search-bar button i {
  font-size: 15px;
  margin-right: 10px;
  margin-left: 5px;
}

.search-bar button i:hover {
  color: rgb(212, 36, 212);
}


.icons {
  /* margin: 0 10px;
  text-align: center; */
  display: flex;
  align-items: center;
}

.icons a {
  color:  rgb(14, 14, 96);
  font-size: 17px;
  font-weight: 500;
  /* margin-left: 10px; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.icons a:hover {
  color: rgb(18, 91, 27);
}


.menu-button {
  font-size: 20px;
  background-color:  rgb(158, 207, 231);
  padding: 8px;
  border-radius: 10px;
  display: none;
  color:  rgb(14, 14, 96);
  cursor: pointer;
} 

#menu-icon, #close-icon {
  display: none;
}


.shop {
  margin-top: 19px;
}



 




/* Main section */


/* .banner-container {
  margin: 40px 0;
} */

/* .banner-image {
  width: 100%;
  margin-top: 18px;
  margin-top: auto;
} */



.header-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 70px;
}


.header-slider ul{
  display: flex;
  /* overflow-y: hidden; */
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  }
  
  .banner-image {
   position: relative; 
   width: 100%;
   /* height: auto; */
   margin-right: 750px;
  /* mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%); */
  }


  /* .shoe {
    display: flex;
    position: relative; 
    width: 100%;
    height: auto;
    align-items: center;
  } */

  
  .header-slider .arrow {
   position: absolute; 
   /* top: 65%; */
   top: 50%;
   z-index: 1;
   transform: translate(0,-50%);
   padding: 5vh 1vw;
   background-color: #db31a84f;
   color: #0528efcb;
   text-decoration: none;
   font-weight: 600;
   font-size: 30px;
   cursor: pointer;
  }



  
  .header-slider .next-arrow {
   right: 0;
  }


  .arrow:hover {
    color: maroon;
    background-color: rgba(46, 9, 194, 0.237);
  }



.category-heading {
   text-transform: uppercase;
   color: #0a61ac;
   letter-spacing: .15em;
   font-size: 1.8em;
   margin: 50px 0 10px 30px;
   max-height: 5em;
   font-weight: 700;
   text-align: center;
   padding-top: 50px;
   padding-bottom: 50px;
}

.category-items {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-evenly; */
  /* overflow-x: auto; */
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
  overflow: hidden;
}

.category-items::-webkit-scrollbar {
  display: none;
}

.control-prev, .control-next {
  width: 3.2vw;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 170px;
  margin-left: 20px;
  margin-right: 10px;
  text-decoration: none;
  color: #0bd9ef;
  /* background: linear-gradient(90deg, rgb(255, 255, 255, 0) 0% #ffffff 100%); */
  z-index: 9;
  /* opacity: 0.5; */
}

.category-items .control-prev {
  left: 0;
  
}

.category-items .control-next {
  right: 0;
}

.control-prev:hover, .control-next:hover {
  color: rgb(61, 58, 251);
}


.category-item, .items-container  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.category-item img {
  margin-bottom: 30px;
}

 /* .back-clr {
   background-color: #e37a7a; 
  
}  */

.sale-item {
  width: 450px;
  height: 350px;
  /* max-width: 250px; */
  /* max-height: 250px; */
  /* padding: 0 10px; */
  /* width: 100%;
  height: auto; */
}

.footer-container {
  padding: 50px 0;
  /* width: 90%; */
  margin: 0 auto;
  background-color: #90fca6;
  display: flex;
  /* justify-content: space-evenly; */
  
}

.footer-column {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  
}

.footer-column h3 {
  color: #c8084e;
  font-size: 14px;
  margin-bottom: 25px;
  /* padding: 20px; */
}

.footer-column a {
  color: #b11156;
  font-size: 15px;
  padding-bottom: 5px;
  text-decoration: none;
 
}

.footer-column ul li {
  list-style: none;
}

.about, .contact {
  width: 40%;
}

.link {
  width: 20%;
  
}

.link ul li {
  margin-bottom: 15px;
  font-size: 20px;
  
}

.link ul li a:hover {
  color: #1a0472;
}

.link ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  font-size: 18px;
  display: block;
}

.social-media {
  margin-top: 30px;
}

.social-media ul {
  display: flex;
}

.social-media ul li a {
  display: inline-block;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  background-color: transparent;
  border: 1px solid #090000;
  text-align: center;

}

.social-media ul li a:hover {
color: #1007ae;
background-color: rgb(247, 169, 155);
}

.contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact ul li span {
  margin-right: 15px;
}

.copyright {
  color: #1007ae;
  text-align: center;
  padding: 15px;
  background-color: #4d945f;
}


.cart-item-count {
  background-color: rgb(103, 243, 43);
  white-space: nowrap;
  text-align: center;
  line-height: 18px;
  padding: 0px 6px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  font-size: 12px;
  color: rgb(232, 26, 112);
  left: 19px;
  top: -46px;
  font-weight: 700;
  cursor: pointer;
}

.action-container {
  text-decoration: none;
}

a.action-container:link {
  color:black;
}


















/* ............MEDIA QUERY........... */

@media only screen and (max-width: 1050px) {
  .nav-logo img{
    width: 60px;
  }

  #menu {
    display: none;
    /* background-color: brown; */
    background-image: linear-gradient(to bottom, rgb(227, 71, 188), rgb(251, 215, 158));
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    text-align: center;
    height: auto;
  }

  #menu li {
    display: block;
    margin: 15px 20px;
    width: 100%;
  }

  .icons a {
    font-size: 14px;
  }

  .search-bar {
    /* height: 4.5vh; */
    height: 4vh;
  }

  #menu-icon, #close-icon {
    display: block;
    cursor: pointer;
  }

  #menu-icon {
    font-size: 16px;
    margin: 0 8px;
  }

  #close-icon {
    display: none;
    font-size: 25px;
  }




  #menu li ul {
    position: relative;
    width: 100%;
    padding: 5px 0;
  }
  
   /* #menu li ul li {
   background-color: aliceblue;
  } */
  
  
  #menu li ul li ul {
    left: 0px;
    top: 0;
    width: 100%;
    padding: 5px 0;
  }
  
  #menu li ul li ul a{
    color: rgb(187, 20, 20);
    /* background-color: turquoise; */
  
}


}







